

.example{
      margin-bottom: 0%;
}

/*
input[type=radio]:not(old){
      width: 118px;
    height: 23px;
    margin: 0px 0px 5px -1px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}*/


input[type=radio]:not(old) + label{
      display: inline-block;
           margin-left: -115px;
    line-height: 1.5em;
    text-transform: capitalize;
    color: white;

}

.active input[type=radio] + label{
      display: inline-block;
       margin-left: -6em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}


input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
/*  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));*/
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
/*  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));*/
}



input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : #e51e20;
/*  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));*/
}

/*Code Choix de la marque*/

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}
@media (min-width: 1024px) {

input[type=radio ]:not(old) {
    width: 118px;
    height: 23px;
    margin: 0px 0px 0px -18px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}
  .active input[type=radio] + label {
    display: inline-block;
    margin-left: -5em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}


}
@media (min-width: 1150px) {

input[type=radio ]:not(old) {
    width: 118px;
    height: 23px;
    margin: 0px 0px 0px -18px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}
  .active input[type=radio] + label {
    display: inline-block;
    margin-left: -5em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}


}
@media (min-width: 1200px) {

input[type=radio ]:not(old) {
    width: 118px;
    height: 23px;
    margin: 0px 0px 0px -18px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}
  .active input[type=radio] + label {
    display: inline-block;
    margin-left: -5em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}


}


@media (min-width: 1350px) {

input[type=radio ]:not(old) {
    width: 118px;
    height: 23px;
    margin: 0px 0px 0px -18px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}
  .active input[type=radio] + label {
    display: inline-block;
    margin-left: -5em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}


}

@media (min-width: 1400px) {
  
  .active input[type=radio] + label {
    display: inline-block;
    margin-left: -120px;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}

input[type=radio]:not(old){
      width: 118px;
    height: 23px;
    margin: 0px 0px 5px -1px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

 

}


@media (min-width: 1500px){

  .active input[type=radio] + label{
      display: inline-block;
       margin-left: -6em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}

input[type=radio]:not(old){
      width: 118px;
    height: 23px;
    margin: 0px 0px 5px -1px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}


}

@media (min-width: 1920px){

  .active input[type=radio] + label{
      display: inline-block;
       margin-left: -6em;
    line-height: 0em;
    text-transform: capitalize;
    color: black;
}

input[type=radio]:not(old){
      width: 118px;
    height: 23px;
    margin: 0px 0px 5px -1px;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}


}